{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "parser": "typescript",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.ts",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}