@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body, html {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

.p-card-title {
    color: black;
}