@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body, html {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: disc !important;
}

.p-card-title {
    color: black;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

code {
    font-family: 'Cascadia Code PL' !important;
}